<!-- src/app/todo-list/todo-list.component.html -->
<div class="todo-container" [ngClass]="{ 'dark-mode': isDarkMode }">
    <h1>Todo List</h1>
  
    <div class="mode-toggle">
      <label class="switch">
        <input type="checkbox" [(ngModel)]="isDarkMode" />
        <span class="slider round"></span>
      </label>
      <span class="mode-label">Dark Mode</span>
    </div>
  
    <div class="add-todo">
      <h2>Add New Todo</h2>
      <form (ngSubmit)="addTodo()" #todoForm="ngForm">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" [(ngModel)]="newTodo.title" required />
        </div>
        <button type="submit">Add Todo</button>
      </form>
    </div>
  
    <div class="todo-list">
      <h2>Todos</h2>
      <ul>
        <li *ngFor="let todo of todos">
          <input type="checkbox" [(ngModel)]="todo.completed" (change)="updateTodo(todo)" />
          <span [class.completed]="todo.completed">{{ todo.title }}</span>
          <button (click)="deleteTodo(todo.id)">Delete</button>
        </li>
      </ul>
    </div>
  </div>
  